.top_crop {
    position: absolute;
    clip: rect(0px, 470px, 95px, 0px);
}

.bottom_crop {
    position: absolute;
    top: 16%;
    clip: rect(150px, 470px, 263px, 0px);
}

.div_top {
    width: 470px;
    height: 95px;
    background-image: url(Assignment-3.PNG);
}

.div_bottom {
    width: 470px;
    height: 113px;
    background-image: url(Assignment-3.PNG);
    background-position: bottom;
}

.section {
    width: 500px;
    height: 300px;
}

.image {
    max-width: 100%;
    max-height: 100%;
    display: block;
}